<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sentiment Analysis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <button class="menu-toggle" onclick="toggleSidebar()">&#9776;</button>
  <div class="background-image"></div>
  <div class="container"> 
    <header>
      <h1>Sentiment Analysis</h1>
    </header>
    <div class="sidebar">
      <div class="sidebar-content">
        <h2>About</h2>
        <p id="about-content">This is a sentiment analysis application that helps you determine the sentiment of your movie reviews.<br><br>
             Analyze your reviews and see if they are positive, negative, or neutral!<br><br>
             See you at the Movies Again!! ❤️❤️</p>
      </div>
    </div>
    <form action="/predict" method="post">
      <div class="form-group">
        <label for="MovieName"> Enter the Movie Name:</label>
        <textarea name="MovieName" id ="MovieName" rows="2" required onkeyup="clearPrediction()"></textarea>
        <label for="review">Enter your Review:</label>
        <textarea name="review" id="review" rows="3" required onkeyup="clearPrediction()"></textarea>
      </div>
      <button type="submit" onclick="showLoading()">Analyze</button>
      <span class="loading" id="loadingSymbol">Loading...</span>
    </form>

    {% if prediction %}
      <div id="prediction" class="prediction">
        <h2>Prediction: {{ prediction }}</h2>
        <h3>Review: {{ review }}</h3>
      </div>
    {% endif %}
  </div>

  <footer>
    <p>&copy; 2024 Developed by Yashwanth Kota</p>
  </footer>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
